#chat-container {
	height: 600px;
	border-radius: 5px;
	border: 1px solid #444;
	background-color: white;
	color: black;
}

#chat-container h2 {
	text-align: center;
}

#chat-list {
	height: 80%;
	overflow-y: scroll;
	vertical-align: baseline;
	border-top: 2px solid #C6D8D3;
	border-bottom: 2px solid #C6D8D3;
}

#chat-input {
	box-sizing: border-box;
	width: 100%;
	height: 2em;
	padding: 0.5em;
	margin: 0 0;
	color: black;
	border-top: 2px solid #C6D8D3;
}

#chat-input:focus {
	outline: none;
	border-top: 2px solid #86ACA1;
}

.chat {
	color: black;
	margin: 0 0;
}

.chat-sender {
	margin-top: 0.5em;
	margin-bottom: 0;
	font-weight: bold;
	text-align: left;
}

.chat-msg {
	padding: 1em 0.5em;
	text-align: left;
	background-color: #eee;
	margin-right: 10%;
	border-radius: 1em;
}

.chat-info {
	background-color: transparent;
	color: #3f3f3f;
	text-align: center;
	padding: 1em 3em;
}

.chat-right {
	text-align: right;
}